<!DOCTYPE html>
<html>
	<head>
		<title>Project 3 | CMD Minor Web | Stef van Dijk</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/js/control.js" defer></script>
	</head>
	<body>
		<button class="feed">Feed</button>
		<button class="rain">Pump</button>

	</body>
</html>
