<!DOCTYPE html>
<html>
	<head>
		<title>Project 3 | CMD Minor Web | Stef van Dijk</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/js/TweenMax.min.js" defer></script>
		<script src="/js/script.js" defer></script>
	</head>
	<body>
		<div class="wrap">
			<!-- <svg></svg> -->
			<%- graphic %>
			<aside>
				<section class="meta">
					<div>
						<img src="http://placehold.it/200x200" alt="">
						<p><span class="value">XX</span> KG</p>
					</div>
					<div>
						<img src="http://placehold.it/200x200" alt="">
						<p><span class="value">XX</span> KG</p>
					</div>
					<div>
						<img src="http://placehold.it/200x200" alt="">
						<p><span class="value">XX</span> KG</p>
					</div>
				</section>
				<section class="info">
					<h2>Infotekst</h2>
					<p>Met informatie en langere informatie enzo</p>
					<img src="http://placehold.it/200x200" alt="">
					<p>Met informatie en langere informatie enzo</p>
				</section>
			</aside>
		</div>
	</body>
</html>
