<!DOCTYPE html>
<html>
	<head>
		<title>Project 3 | CMD Minor Web | Stef van Dijk</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/js/TweenMax.min.js" defer></script>
		<script src="/js/script.js" defer></script>
	</head>
	<body>
		<div class="wrap">
			<!-- <svg></svg> -->
			<%- graphic %>
			<aside></aside>
		</div>
	</body>
</html>
