body {
	margin: 0;
	font-family: sans-serif;
}

.hidden {
	display: none;
}

.wrap {
	width: 100%;
	padding-top: 56.25%;
	position: relative;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 75%;
	height: 100%;
}

aside {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
	max-height: 100%;
	section {
		&.meta {
			text-align: center;
		}
	}
	div	{
		max-height: 33%;
	}
	img {
		max-height: 7.5em;
	}
}